beautifulsoup4~=4.11.1
soupsieve~=2.3.2.post1
pip~=22.1
attrs~=21.4.0
idna~=3.3
multidict~=6.0.2
certifi~=2021.10.8
websockets~=10.3
mutagen~=1.45.1
caio~=0.9.5
yarl~=1.7.2
aiohttp~=3.7.4.post0
Brotli~=1.0.9
chardet~=4.0.0
discord~=1.7.3
pycparser~=2.21
cffi~=1.15.0
setuptools~=62.3.1